@import "tailwindcss";
@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton-svelte";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/noto-sans-sc";
@import "lxgw-wenkai-screen-webfont/lxgwwenkaiscreen.css";

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

@layer components {
  .btn,
  .btn-icon,
  [data-scope="tabs"][data-part="trigger"],
  [data-scope="steps"][data-part="trigger"],
  [data-scope="navigation"][data-part="trigger-anchor"],
  [data-scope="navigation"][data-part="trigger"] {
    min-height: --spacing(10);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
