@import "@fontsource-variable/geist";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/noto-sans-sc";
@import "lxgw-wenkai-screen-webfont/style.css";

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#root > .fui-FluentProvider {
  min-height: 100vh;
}
